.flexRow--flexLayoutCssRow {
  /* estilo do container do header */
  background: #424245;
  height: 80px;
  padding: 20px;
}
.flexRow--rowMenu {
  background: #424245;
}

.flexCol--spaceAtoa {
  width: 80px;
}
